---
title: Home
description: The latest app to help you find new friends with common interests.
image: images/background.jpg
bottom_image: images/bottom_background.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Elevate with Evelyn</h1>
			<p class="subtext editable">Licensed Psilocybin Facilitator, Preparation, and Integration Coach</p>
			<div class="cta button alt"><a href="{{ site.baseurl}}/contact">Contact Me</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#biography">About <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="biography">
		<div class="container flex">
			<div class="text">
				<center><h2 class="editable">About Evelyn</h2></center>
				<center><p class="editable">I’m a licensed Psilocybin Facilitator, Preparation and Integration Coach with 25 years of experience with psychedelics and helping people navigate their expanded consciousness and try to make sense of their experiences afterwards. By doing deep therapeutic healing work over the last 10 years I’ve overcome addiction, depression. I’ve significantly lessened the symptoms of my own OCD, ADD, anxiety, and PTSD, and have worked to build a very full authentic life filled with love and creativity through a holistic healing journey that included psychedelic medicine. I’ve studied psychology, sociology, anthropology, and philosophy and I have a degree in Social Sciences from Portland State University. I’ve also had the honor of learning from experienced guides, mentors, counselors, indigenous leaders, and my mother who was a classically trained therapist. I’ve also worked in the western mental health field as a peer counselor with at risk youth.</p>

<p class="editable">My approach is one of radical acceptance, embracing the entirety of the human experience, and every part of you. My method is highly influenced by tantra philosophy, evolutionary psychology, and of course things that have been shown to me by plant medicine itself. I believe that all our feelings are sacred and important. Listening to these feelings, honoring them, and learning how to process them is an important key to unlocking our full potential. Repressed and unprocessed feelings will manifest as mental and physical health problems. In preparation sessions, I provide guidance for how to access and honor your feelings in a safe, private, space. In integration sessions, I help you interpret the lessons your feelings taught you and how to use these lessons to become a more authentic version of yourself.</p></center>
			</div>
			<div class="image">
				<img class="editable" src="{{ site.baseurl }}/images/bio.jpg" alt="Bio Pic" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Contact me</h2>
				<p class="subtext editable">Start a conversation with Evelyn</p>
				<div class="cta button alt"><a href="{{ site.baseurl}}/contact">Click here</a></div>
			</div>
		</div>
	</section>
</div>
