---
title: Home
description: The latest app to help you find new friends with common interests.
image: images/background.jpg
bottom_image: images/bottom_background.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Elevate with Evelyn</h1>
			<p class="subtext editable">Licensed Psilocybin Facilitator, Preparation, and Integration Coach</p>
			<div class="cta button alt"><a href="{{ site.baseurl}}/contact">Contact Me</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#biography">About <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="biography">
		<div class="container flex">
			<div class="text">
				<center><h2 class="editable">About Evelyn</h2></center>
				<ul>
					<li>Licensed Psilocybin Facilitator; graduate of the <a href="https://www.changainstitute.com/">Changa Institute</a></li>
					<li>BA in Social Sciences with Emphasis in Psychology from Portland State University</li>
					<li>Twenty-five years of experience with psychedelics</li>
					<li>Ten years of experience in hospitality</li>
					<li>Five years of experience outdoor adventure guiding</li>
					<li>Three years of experience peer counseling</li>
				</ul>
				<center><p class="editable">I am a licensed Psilocybin Facilitator, Preparation, and Integration Coach. I have 25 years of experience with psychedelics and helping people navigate their expanded consciousness while making sense of their experiences afterwards. By doing deep therapeutic healing work over the last 10 years I have personally overcome addiction and depression while significantly lessening the symptoms of my own anxiety, OCD, ADHD, and PTSD. I have worked to build a very full authentic life filled with love and creativity through a holistic healing journey that includes psychedelic medicine.</p>
				<p class="editable">In my personal journey I studied psychology, sociology, anthropology, and philosophy; worked as a peer counselor with at-risk youths; and earned a degree in Social Sciences from Portland State University. I’ve also had the honor of learning from experienced guides, mentors, counselors, indigenous leaders, and my mother, a classically trained therapist.</p>
				<p class="editable">With the legalization of psilocybin assisted therapy in Oregon this year, I was able to apply all of my experience and education to finally acquire formally approved training through the <a href="https://www.changainstitute.com/">Changa Institute</a>. Through that education and by working at healing retreats in Jamaica, I've learned the more formal medical model and protocol for running individual and group healing ceremonies.</p>
				<p class="editable">My approach is one of radical acceptance and embracing the entirety of the human experience. My methodology is highly influenced by tantra philosophy, evolutionary psychology, and personal revelations from plant medicine itself. I believe that all our feelings are sacred and important. Listening to these feelings, honoring them, and learning how to process them is an important key to unlocking our full potential while repressed and unprocessed feelings manifest as mental and physical health problems.</p>
				<p class="editable">In preparation sessions, I provide guidance for how to access and honor your feelings in a safe, private space. In integration sessions, I help you interpret the lessons your feelings taught you and how to use these lessons to become a more authentic version of yourself.</p></center>
			</div>
			<div class="image">
				<img class="editable" src="{{ site.baseurl }}/images/bio.jpg" alt="Bio Pic" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Contact me</h2>
				<p class="subtext editable">Start a conversation with Evelyn</p>
				<div class="cta button alt"><a href="{{ site.baseurl}}/contact">Click here</a></div>
			</div>
		</div>
	</section>
</div>
